/* orders.css */
.confirmed {
    background-color: #fce4b1 !important;
}

.preparing {
    background-color: #ffcc80 !important;
}

.ready_for_delivery {
    background-color: #c8e6c9 !important;
}

.out_for_delivery {
    background-color: #a5d6a7 !important;
}

.order-paper {
    padding: 16px;
    margin: 8px;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .order-paper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
}
