.slider-container {
    margin: 4rem 0;
}

.slider-container img {
    height: 600px;
    object-fit: cover;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    background-color: transparent;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.8;
    height: 30px;
    width: 30px;
    margin: 0 70px;
    z-index: 2;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    opacity: 1;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.arrow svg {
    height: 4rem;
    width: 4rem;
    margin: 5px;
}

.arrow svg:hover {
    fill: var(--info-darker);
}
