:root {
    --background-default: #ffffff;

    --info-main: #343434;
    --info-lighter: #5c5c5c;
    --info-darker: #1a1a1a;

    --primary-main: #7d53de;
    --primary-lighter: #a684f0;
    --primary-darker: #4f2ba6;

    --secondary-main: #1c0b19;
    --secondary-lighter: #3f2b3a;
    --secondary-darker: #0f0510;

    --success-main: #2dd881;
    --success-lighter: #5bf2a2;
    --success-darker: #1a944e;

    --error-main: #d32f2f;
    --error-lighter: #f05f5f;
    --error-darker: #921f1f;
}

a {
    text-decoration: none;
    color: var(--primary-main);
}

a:hover {
    color: var(--primary-lighter);
}
